attr==0.3.2
black==25.1.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==44.0.2
docutils==0.21.2
filelock==3.18.0
flake8==7.1.2
HTMLParser==0.0.2
ipython==8.26.0
ipywidgets==8.1.5
keyring==25.6.0
ollama==0.4.7
openai==1.74.0
Pillow==11.2.1
protobuf==6.30.2
pyOpenSSL==25.0.0
pytest==8.2.0
python-dotenv==1.1.0
PyYAML==6.0.2
redis>=4.5.2,<5.0.0
Sphinx==8.2.3
# Celery and related packages
celery[redis]==5.3.4
flower==2.0.1
kombu==5.3.4
billiard==4.2.0
vine==5.1.0
thread==2.0.5
urllib3_secure_extra==0.1.0
fastapi[standard]==0.115.12
pydantic
pydantic-settings==2.9.1
sqlmodel==0.0.24
psycopg2-binary==2.9.10
minio==7.2.15
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4